:root {
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --special-text-color:  #4D5AE5;
    --white-color: #FFFFFF;
    --section-color: #E5E5E5;
    --portfolio-button-color: #F4F4FD;
    --bg-button-color: #404BBF;
    --footer-text-color: #E7E9FC;
    --footer-background-color:  #2E2F42;
    
}

body {
    background-color: var(--white-color);

    color: var(--secondary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
}

.logo {
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-size: 18px;
    line-height: 1.33;

    text-decoration: none;
}

.logo-first-part {
    color: var(--special-text-color);
    text-transform: uppercase;
}

.logo-second-type {
    color: var(--primary-text-color);
}

.logo-second-type-footer {
    color: var(--portfolio-button-color);
}

.logo:hover {
    color: var(--special-text-color);
}

ul {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}
/* site nav*/

.site-nav .link {
color: var(--primary-text-color);

font-weight: 700;
font-size: 16px;
line-height: 1.5;
}

.site-nav .link:focus, .site-nav .link:hover {
    color: var(--secondary-text-color)
}

.site-nav :active {
    color: var(--special-text-color);
}

.auth-nav a {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.5;
}

.auth-nav a:hover, .auth-nav a:focus {
    color: var(--special-text-color);
}

.button {
    background-color: var(--special-text-color) ;
    color: var(--white-color);
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
}

.hero-section {
    background-color: var(--footer-background-color);
}

.button:hover, .button:focus {
    background-color: var(--bg-button-color);
    color: var(--white-color);
}

.portfolio-button {
    color: var(--special-text-color);
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    background-color:  var(--portfolio-button-color);
}

.portfolio-button:hover, 
.portfolio-button:focus {
     color: var(--white-color);
     background-color: var(--special-text-color);
}

.main-section {
    background-color: var(--section-color);
}

.hero-title {
    color: var(--white-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;

    text-align: center;
}

/*about us*/

.feature-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}

.secondary-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    text-align: center;
}

.feature-section {
    background-color: var(--portfolio-button-color)
}

.feature-text {
    color: var(--secondary-text-color);
}

.team-list {
    background-color: var(--white-color);
}

.text-footer {
    color: var(--footer-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.footer {
    background-color:  var(--footer-background-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} 